.ad_btn,
.ad_btn:focus,
.ad_btn:hover {
    display: inline-block;
    position: relative;
    min-width: 135px;
    border: none;
    border-radius: 4px;
    background-image: url('./pictures/giri.png');
    color: #fff;
    padding: 10px 20px;
}
.ad_btn::before,
.ad_btn::after {
    content: "";
    display: block;
    position: absolute;
    width: 140%;
    height: 100%;
    left: -20%;
    z-index: -1000;
    transition: all ease-in-out 0.1s;
    background-repeat: no-repeat;
}
.ad_btn::before {
    display: none;
    top: -75%;
    background-image: radial-gradient(circle, #ff0000 20%, transparent 20%), radial-gradient(circle, transparent 20%, #ff0000 20%, transparent 30%), radial-gradient(circle, #ff0000 20%, transparent 20%), radial-gradient(circle, #ff0000 20%, transparent 20%), radial-gradient(circle, transparent 10%, #ff0000 15%, transparent 20%), radial-gradient(circle, #ff0000 20%, transparent 20%), radial-gradient(circle, #ff0000 20%, transparent 20%), radial-gradient(circle, #ff0000 20%, transparent 20%), radial-gradient(circle, #ff0000 20%, transparent 20%);
    background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%;
}
.ad_btn::after {
    display: none;
    bottom: -75%;
    background-image: radial-gradient(circle, #ff0000 20%, transparent 20%), radial-gradient(circle, #ff0000 20%, transparent 20%), radial-gradient(circle, transparent 10%, #ff0000 15%, transparent 20%), radial-gradient(circle, #ff0000 20%, transparent 20%), radial-gradient(circle, #ff0000 20%, transparent 20%), radial-gradient(circle, #ff0000 20%, transparent 20%), radial-gradient(circle, #ff0000 20%, transparent 20%);
    background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
}
.ad_btn:active {
    transform: scale(0.9);
}
.ad_btn:active::before {
    display: block;
    animation: anim-top ease-in-out 0.3s forwards;
}
.ad_btn:active::after {
    display: block;
    animation: anim-bottom ease-in-out 0.3s forwards;
}
@keyframes anim-top {
    0% {
        background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
    }
    50% {
        background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;
    }
    100% {
        background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
        background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
}
@keyframes anim-bottom {
    0% {
        background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
    }
    50% {
        background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;
    }
    100% {
        background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
        background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
}



.ad_button-28 {
  appearance: none;
  border: 2px solid #ffffff;
  border-radius: 15px;
  background-color: #000000;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 20px;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 12px;
  min-height: 20px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  position: relative; left: 40%;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 20%;
  will-change: transform;
}

.ad_button-28:disabled {
  pointer-events: none;
}

.ad_button-28:hover {
  color: #000000;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.ad_button-28:active {
  box-shadow: none;
  transform: translateY(0);
}

.pic{height:340px; overflow:hidden;}
.pic img{transform:scale(1,1);transition: all 0.3s ease-out;}
.pic img:hover{transform:scale(1.2,1.2);}

.advideobox {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}

.advideobox iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}